
body{
    padding: 0;
    margin: 0;
}
.leftbar{
    margin-top: 20px;
    margin-left: 20px;
    /* border-right: 1px solid rgba(128, 128, 128, 0.233); */
    padding-right: 10px;
    height: 800px;
    width: 60px;
    float: left;
    position: fixed;
    
}

.logo:hover{
    background-color: rgba(171, 216, 236, 0.301);
    border-radius: 100%;
    padding: 12px 6px;
}

.hash:hover{
    background-color: rgba(190, 183, 183, 0.185);
    border-radius: 200%;
    padding: 18px 10px;
}

.sub-leftbar{
    float: left;
    margin-left: 80px;
    border-left: 1px solid rgb(214, 210, 210);
    /* height: 630px; */
    border-bottom: 1px solid rgb(214, 210, 210);
    width: 31%;
}

.form{
    /* margin-top: 5px; */
    box-sizing: border-box;
    border: 1px solid rgb(255, 246, 246);
    width: 35%;
    margin-left: 20px;
    border-radius: 50px;
    background-color: rgb(231, 227, 227); 
    box-shadow: 2px 2px 2px 2px rgb(229, 226, 226);
    padding: 6px;
    float: left;
    height:30px;
    display: none;
    position: fixed;
  
}

.form img{
    margin-left: 20px;
    float: left;
}

#search{
    border: none;
    background-color: rgba(231, 227, 227, 0.158);
    outline: none;
    padding-top: 2px;
    float: left;
    width: 80%;
    padding-left: 20px;
    
}

.sub-leftbar h3{
    color: black;
    margin-left: 10px;
}

.sub-leftbar a{
    color: gray;
}

.sub-leftbar a:hover{
    text-decoration: none;
}
.bold{
    font-weight: bolder;
   

}

.first-bar:hover{
    border-right: 2px solid blue;
    background-color: rgb(231, 231, 231) ;  
}

.first-bar{
    padding-left: 10px;
}

.allow{
    color: gray;
    font-size: 12px;
}

#icon{
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.personal{
    width: 60%;
    color: black;
}

.second-bar{
    padding: 8px;
    width: 100%;
    color: black;
}

.second-bar a{
    color: black;
}

.second-bar:hover{
    border-right: 2px solid blue;
    background-color: rgb(231, 231, 231) ;  
    padding: 8px;
    

}

#icon-first{
    /* margin-right: 10px; */
    margin-top: 10px;
    float: right;
    margin-right: 2px;
}

.para{
    color: gray;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;

}


.general{
    width: 70%;
    float: left;
    margin-left: 80px;
    color: black;  
    border-left: 1px solid rgb(214, 210, 210);

}

.paraa:hover{
    background-color: rgb(231, 231, 231) ;  
    width: 44%;

}


.general h3{
    font-weight: bold;
    margin-left: 10px;
}

#icon-second{
    float: none;
    position: absolute;
    margin-left: 290px;
    margin-top: 36.5%;
}

.paraa{
    color: gray;
    font-weight: bold;
    padding: 8px;
}

.middle{
    margin-left: 38.7%;
    border-left:  1px solid rgb(214, 210, 210);
    border-right: 1px solid rgb(214, 210, 210);
    position: absolute;
    height: 640px;
    width: 60%;


}

.box-one{
    
    border-bottom: 1px solid rgb(214, 210, 210);
    
   
}


.box-one h3{
    color: black;
    padding-left: 60px;
    font-weight: bold;
  
}

#arrow{ 
    display: flex;
    font-size: 15px;
    font-weight: normal;
    color: gray;
    float: left;
    margin-top: 5px;
    padding-left: 10px;
 
}

.person{
    padding-left: 10px;
    padding-top: 10px;

}

.para-one{
    color: gray;
    font-size: 12px;
    /* padding-top: 10px; */
    padding-left: 10px
}

                            /*toggle-switch  */
.switch{
    height: 25px;
    position: relative;
    width: 50px;
    margin-left: 35%;
    
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(222, 228, 228);
    transition: .4s;
    border-radius: 34px;
}

.switch input{
    display: none;
}

.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom:2px;
    background-color: blue;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: #ff278c;
}

input:checked + .slider::before{
    transform: translateX(20px);
}


.box-two{
    border-bottom: 1px solid rgb(214, 210, 210);
}

.box-three{
    border-bottom: 1px solid rgb(214, 210, 210);

}

.box-three h3{
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

.per{
    color: black;
    padding-left: 10px;   
}

#check-one{
    margin-left: 50%; 

}

#check-two{
    margin-left: 75%;

}

.per-one{
    margin-top: 20px;
    padding-left: 10px;
    color: black;
  
}


.box-four{
    border-bottom: 1px solid rgb(214, 210, 210);
}

.box-four h3{
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

#check-three{
    margin-left: 34%;
}

@media screen and (max-width:980px) {
    .sub-leftbar{
        display: none;
    }

    .general{
        display: none;
    }

    .middle{
        margin-left: 150px;
    }

    .leftbar{
        margin-left: 100px;
    }
    
}

@media screen  and (max-width:500px) {
    .box-one h3{
        display: none;
    }

    .form{
        display: block;
        position: fixed;
    }

    #search{
        width: 50%;

    }

    .para-one{
        margin-top: 40px;
    }
    
}








